@import "config/vars"

.logoAnimation
  width: 100%
  height: 100vh
  display: flex
  padding: 0 128px
  box-sizing: border-box
  flex-direction: column
  align-items: center
  justify-content: center
  position: fixed
  top: 152px
  right: 0
  left: 0
  bottom: 0
  opacity: 1
  transition: opacity $transition-slow
  z-index: 0
  svg
    stroke: var(--color-base-alt-1, $color-base-alt-1)
    stroke-dasharray: 15
    stroke-dashoffset: 0
    animation: dash 5s ease-in-out 1 forwards

@keyframes dash
  0%
    stroke-dashoffset: 0
    opacity: 0
  25%
    opacity: 1
  100%
    stroke-dashoffset: 500

section.header
  padding-top: 128px
  h1
    margin: 0
    padding: 0
    max-width: 1000px

.card
  margin: 64px 0 0 0
  background-color: var(--color-base-1, $color-base-1)
  width: 100%
  padding-top: 48px
  padding-right: 64px
  padding-bottom: 48px
  padding-left: 64px
  box-sizing: border-box
  h2
    max-width: 600px
    margin: 32px 0 16px 0
  p
    columns: auto 2
    column-gap: 64px

@media screen and (max-width: 1500px)
  .card
    padding-top: 48px
    padding-right: 64px
    padding-bottom: 48px
    padding-left: 64px

@media screen and (max-width: 1250px)
  .card
    padding-top: 48px
    padding-right: 32px
    padding-bottom: 48px
    padding-left: 32px

@media screen and (max-width: 1000px)
  section.header
    padding-top: 88px

@media screen and (max-width: 800px)
  .card
    box-shadow: -16px 0 0 0 var(--color-base-1, $color-base-1), 16px 0 0 0 var(--color-base-1, $color-base-1)
    padding-top: 32px
    padding-right: 0px
    padding-bottom: 32px
    padding-left: 0px
    p
      columns: auto 1
  .logoAnimation
    opacity: 0
    // svg
      width: 100vw

// .animationMaskAway
  display: block
  z-index: 100
  position: fixed
  background-color: pink
  width: 100vw
  height: 100vh
