@import "config/vars"

.logoAnimation
  width: 100%
  height: 100vh
  display: flex
  padding: 0 128px
  box-sizing: border-box
  flex-direction: column
  align-items: center
  justify-content: center
  position: fixed
  top: 152px
  right: 0
  left: 0
  bottom: 0
  opacity: 1
  transition: opacity $transition-slow
  z-index: 0
  svg
    stroke: var(--color-base-alt-1, $color-base-alt-1)
    stroke-dasharray: 15
    stroke-dashoffset: 0
    animation: dash 5s ease-in-out 1 forwards

@keyframes dash
  0%
    stroke-dashoffset: 0
    opacity: 0
  25%
    opacity: 1
  100%
    stroke-dashoffset: 500

section.header
  padding-top: 128px
  &::before
    content: ""
    display: block
    position: absolute
    transform: translateY(calc(100vh - 128px))
    background: linear-gradient(rgba(255,255,255,0) 0px, var(--color-base, $color-base) 128px)
    top: 0px
    right: 0px
    bottom: 0px
    left: 0px
    z-index: -1
  h1
    margin: 0
    padding: 0
    max-width: 1000px
  h2
    margin-top: 256px

@media screen and (max-width: 1000px)
  section.header
    padding-top: 88px

@media screen and (max-width: 800px)
  .logoAnimation
    opacity: 0
    // svg
      width: 100vw

.animationMaskAway
  // display: contents
  // z-index: 1
  // position: sticky
  // background-color: pink
  // top: 0px
  // // right: 0px
  // // bottom: 0px
  // // left: 0px
  // width: 100vw
  // height:  100vh
