@import "../config/vars"

.postHeader
  background: var(--color-secondary-highlight-1, $color-secondary-highlight-1)
  position: relative
  padding-top: 48px
  padding-bottom: 64px
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto
  grid-gap: 0
  &::before
    content: ""
    position: absolute
    background: var(--color-secondary-highlight-1, $color-secondary-highlight-1)
    width: 100%
    height: 200%
    top: auto
    right: 0px
    bottom: 0px
    left: 0px
    z-index: -1
  h1
    max-width: 1000px
    margin-bottom: 16px
  .author
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: auto auto
    grid-gap: 4px
    align-content: center
    justify-content: start
    align-items: center
    justify-items: start
    width: auto
    max-width: 350px
    text-decoration: none
    color: var(--color-typo-emp-1, $color-typo-emp-1)
    transition: all $transition-fast
    user-select: none
    .avatarWrapper
      display: flex
      align-items: center
      justify-content: center
      padding: 4px
      background: none
      border-radius: 100%
      position: relative
      z-index: 1
      transition: all $transition-fast
      &::after
        opacity: 0
        content: ""
        position: absolute
        top: 4px
        right: 4px
        bottom: 4px
        left: 4px
        border-radius: 100%
        background: var(--color-primary, $color-primary)
        mix-blend-mode: screen
        z-index: 2
        transition: all $transition-fast
      .avatar
        display: block
        background: var(--color-secondary-highlight-2, $color-secondary-highlight-2)
        width: 25px
        height: 25px
        border-radius: 100%
        object-fit: cover
    .authorMeta
      display: grid
      grid-template-columns: 1fr
      grid-gap: 0px
      .postedWrapper, .updatedWrapper
        text-decoration: none
        text-transform: uppercase
        color: inherit
        span
          font-weight: 600
          color: inherit
    &:hover
      color: var(--color-primary, $color-primary)
      .avatarWrapper
        background: var(--color-secondary-highlight-2, $color-secondary-highlight-2)
        &::after
          opacity: 1
  
.heroImage
  margin-top: -32px
.postBody
  max-width: 1000px
  margin: auto
  padding-top: 64px
  padding-bottom: 64px
  padding-right: 0px
  padding-left: 0px
  // overflow: hidden
  h1, h2
    margin: 64px 0px 24px 0px
  h3, h4
    margin-bottom: 80px
  h5, h6
    margin: 40px 0
  p, ul, ol
    margin: 24px 0
  a
    color: var(--color-primary, $color-primary)
  img
    width: 100%
    height: auto
    margin: 36px auto
    background: var(--color-secondary-highlight-1, $color-secondary-highlight-1)
  h1, h2, h3, h4, h5, h6, p, ul, ol
    max-width: 800px
    margin-right: auto
    margin-left: auto
    padding-right: 1rem
    padding-left: 1rem
  ul, ol
    padding-left: 3rem
    box-sizing: border-box

@import "../components/sharePost.module"

.authorBioSection
  width: 100%
  max-width: 800px
  margin: 88px auto
  box-sizing: border-box
  hr
    width: 100%
    border: 1px solid var(--color-base-alt-2, $color-base-alt-2)
    opacity: .25
  .authorBio
    display: grid
    grid-template-columns: auto 1fr
    grid-template-areas: "avatar content"
    grid-gap: 16px
    align-content: start
    align-items: start
    justify-content: start
    justify-items: start
    max-width: 650px
    margin: 88px auto
    .avatarWrapper
      width: 60px
      height: 60px
      grid-area: avatar
      .avatar
        width: 60px
        height: 60px
        border-radius: 100%
        background: var(--color-secondary-highlight-2, $color-secondary-highlight-2)
        object-fit: cover
    .authorContent
      grid-area: content

.pagination
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  .prev, .next
    min-width: 104px
    margin: 4px
    text-decoration: none
    &:hover
      text-decoration: none

.suggestedPosts
  max-width: 1256px
  margin: 88px auto 0 auto
  .postsContainer
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    grid-gap: 16px
    padding-top: 64px
    padding-bottom: 0px
    margin-left: auto
    margin-right: auto